aiosmtpd
astropy
asyncio
bandit
biopython
build
chardet
charset-normalizer
cryptography
csvkit
cython
dask
dateparser
dpkt
duckdb
emcee
faiss-cpu
fastapi
fastparquet
filelock
flask
flask-limiter
grpcio
grpcio-tools
h5py
httpx
hypothesis
ipykernel
jinja2
joblib
jsonschema
jupyter
levenshtein
lxml
matplotlib
maturin
memory-profiler
mlflow
mongomock
mpi4py
nbconvert
nbformat
netcdf4
networkx
notebook
numpy
packaging
pandas>=2.0.0
papermill
paramiko
passlib
pexpect
pillow
protobuf
psutil
pwntools
pyarrow
pycryptodome
pydantic
pyelftools
pyjwt
pytest
pytest-asyncio
pytest-json-ctrf
pytest-json-report
pytest-mock
pytest-timeout
python-dateutil
python-levenshtein
pytz
pyyaml
rdflib
requests
scapy
scikit-learn
scipy
seaborn
semantic-version
semver
setuptools
setuptools-rust
statsmodels
supervisor
tables
torch
uvicorn
watchdog
websockets
werkzeug
wheel
xmltodict
z3-solver
